---
import Layout from './layout';
import { Content } from './content';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
  </head>
  <body class='prose max-w-none bg-custom-background'>
    <Layout />
  </body>
</html>
